<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<title>Set PIN</title>
</head>
<body>
<div class="box">
  <h2>Create Your ATM Account</h2>
  <form method="POST">
    <input type="number" name="acc_no" placeholder="Account Number" required>
    <input type="text" name="name" placeholder="Full Name" required>
    <input type="password" name="pin1" placeholder="Enter PIN" required>
    <input type="password" name="pin2" placeholder="Confirm PIN" required>
    <button type="submit">Create Account</button>
  </form>
  <a class="exit" href="/">Exit</a>
</div>
</body>
</html>
